[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dorchester = {editable = true, git = "https://github.com/eyeseast/dorchester"}
mapboxcli = "*"

[dev-packages]

[requires]
python_version = "3.9"
